.calendar_entry {
  background-color: #eee;
}
body, html {
  width: 100%;
  display: grid;

}

footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding-bottom: 0.5%;
}

#page-center {
  vertical-align: middle;
}

#footer_logo {
  height:80px;
  margin: 0 auto;
}

.my_paragrah{
  font-size: 1.23em;
  font-family: 'Lora', serif;
  color: black;
  text-indent: 2.5em;
}
